html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    padding-top: 64px;
    margin: 0 0 0 0;
}

.header {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid black;
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: white;
    
}

h1 {
    opacity: 0.7;
    font-size: 36px;
}

h2 {
    opacity: 0.7;
    font-weight: normal;
    float: left;
}

.logo {
    float: left;
    padding-left: 24px;
    padding-top: 18px;
    height: 32px;
    max-width: 250px;
}

.logo #lion {
    display:inline-block;
  }

.nav {
    padding-right: 8px;
}

.nav h4{
    float: right;
    padding-right: 16px;
    font-weight: normal;
    overflow: hidden;
}

.navicons {
    float: right;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    margin-top: 18px;
}

.navicons img {
    padding-right: 32px;
}

.banner {
    background-color: rgb(224, 224, 224);
    max-width: 100%;
    height: 760px;
}

.students img {
    float: left;
    clear: right;
    margin: 32px 24px;
    display: inline-block;
    max-width: 100%;
    max-height: 700px;
}

.bannertext {
    position: relative;
    display: inline-block;
    max-width: 350px;
    transform: translate(0%,80%);
    padding-left: 24px;
}

.bannertext .start {
    color: white;
    background-color: rgb(37, 37, 37);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .students img {
        margin: 0px 0px;
    }

    .header h2 {
        visibility: hidden;
    }

    .nav {
        display: none;
    }

    .logo {
        display: none;
    }
    .bannertext {
        transform: translate(0%,0%);
    }

    .banner {
        height: 680px;
    }
    

  }

  @media only screen and (min-width: 600px) {
      .navicons {
          display: none;
      }
  }